.postUpload{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 200px;
  background: white;
  margin-top: 60px;

  .postUpload__progress{
    width: 90%;
  }

  .postUpload__caption{
    width: 90%;
    height: 30px;
    border: none;
    box-shadow: 0 0 2px #aaa;
  }

  .postUpload__addFile{
    width: 90%;

  }

  .postUpload__btn{
    width: 90%;
    background: #ddd;
  }
}