.post {
  width: 95%;
  max-width: 400px;
  margin: 10px 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 7px #aaa;
  font-size: 14px;

  .post__header {
    display: flex;
    align-items: center;
    padding: 5px;

    .post__avatar{
      height: 30px;
      width: 30px;
    }

    .post__username {
      padding: 10px;
      font-weight: bold;
    }
  }

  .post__img {
    width: 100%;
    object-fit: contain;
  }

  .post__txt {
    padding: 10px;


    .post__txt__username {
      padding-right: 5px;
    }
  }

  .post__commentForm{
    width: 100%;
    display: flex;

    .post__commentForm__input{
      height: 20px;
      border: 1px solid #ddd;
      flex: 1;
    }

    .post__commentForm__btn{
      height: 24px;
      border: 1px solid #ddd;
      flex: 0;
      cursor: pointer;
      transition: 0.3s ;

      &:hover{
        box-shadow: 0 0 3px #555;
      }


    }
  }

  .post__likes{
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    .post__likes__emptyHeart{
      font-size: 20px;
      cursor: pointer;
    }

    .post__likes__fullHeart{
      font-size: 20px;
      color: #ee0606;
      cursor: pointer;
    }

    .post__likes__numLikes{
      margin-left: 5px;
      border: none;
      outline: none;

      &:focus{
        border: none;
        outline: none;
      }


    }
  }

  .post__comments{
    padding: 5px 10px;
    width: 95%;
    font-size: 12px;

    .post__comments__comment{
      width: 100%;
    }
  }
}